<div *ngIf="tempEmployee !== undefined">
    <h2>{{tempEmployee.EmpName | uppercase}}</h2>
    <div><b>Id: {{tempEmployee.EmployeeID}</b></div>
    <div class="example-button-row">
      <button mat-button color="primary" (click)="PreviousEmployee(tempEmployee)">Previous</button>
    </div>
    <div>
      <label for="emp-id">Employee ID: </label>
      <input id="emp-id" value="{{tempEmployee.EmployeeID}}" placeholder="Employee ID">
    </div>
    <div>
      <label for="emp-name">Employee name: </label>
      <input id="emp-name" value="{{tempEmployee.EmpName}}" placeholder="Employee Name">
    </div>
    <div>
      <label for="emp-role">Employee City: </label>
      <input id="emp-role" value="{{tempEmployee.City}" placeholder="Emplyee Role">
    </div>
    <div>
      <label for="emp-gender">Employee Gender: </label>
      <input id="emp-gender" value="{{tempEmployee.Gender}}" placeholder="Employee Gender">
    </div>
    <div class="example-button-row">
      <button mat-button color="primary" (click)="NextEmployee(tempEmployee)">Next</button>
    </div>
</div>